<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand">Démo</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li ng-class="{active:isNavbarActive('main')}"><a href="#/main">Home</a></li>
                    <li ng-class="{active:isNavbarActive('list/vins')}"><a href="#/list/vins">Vins</a></li>
                    <li ng-class="{active:isNavbarActive('list/domaines')}"><a href="#/list/domaines">Domaines</a></li>
                    <li ng-class="{active:isNavbarActive('contact')}"><a href="#/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>