<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.oxiane.caveavin"/>

    <bean id="contextResolver" scope="singleton" class="com.oxiane.caveavin.provider.ObjectMapperContextResolver"/>

    <bean id="hosts" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <bean class="java.net.URI">
                    <constructor-arg value="http://127.0.0.1:8091/pools"/>
                </bean>
            </list>
        </constructor-arg>
    </bean>

    <bean id="couchbaseClient" class="com.couchbase.client.CouchbaseClient">
        <constructor-arg index="0" ref="hosts"/>
        <constructor-arg index="1" value="oxiane"/>
        <constructor-arg index="2" value=""/>
    </bean>

    <!--Daos ###-->
    <bean id="couchDao" class="com.oxiane.caveavin.dao.impl.CouchDao" destroy-method="destroy">
        <property name="client" ref="couchbaseClient"/>
        <property name="design" value="caveavin"/>
    </bean>
    <!--### Daos-->

    <!--Mappers ###-->
    <bean id="vinMapper" class="com.oxiane.caveavin.mapper.impl.DocWithTypeMapper">
        <property name="type" value="Vin"/>
        <property name="mapper" value="#{contextResolver.getContext(null)}"/>
    </bean>
    <bean id="domaineMapper" class="com.oxiane.caveavin.mapper.impl.DocWithTypeMapper">
        <property name="type" value="Domaine"/>
        <property name="mapper" value="#{contextResolver.getContext(null)}"/>
    </bean>
    <bean id="messageMapper" class="com.oxiane.caveavin.mapper.impl.DocWithTypeMapper">
        <property name="type" value="Message"/>
        <property name="mapper" value="#{contextResolver.getContext(null)}"/>
    </bean>
    <bean id="regionMapper" class="com.oxiane.caveavin.mapper.impl.DocWithTypeMapper">
        <property name="type" value="Region"/>
        <property name="mapper" value="#{contextResolver.getContext(null)}"/>
    </bean>
    <bean id="caracteristiqueVinMapper" class="com.oxiane.caveavin.mapper.impl.DefaultDocMapper">
        <property name="mapper" value="#{contextResolver.getContext(null)}"/>
    </bean>
    <!--### Mappers -->

    <!--Crud helpers ###-->
    <bean id="vinHelper" class="com.oxiane.caveavin.helper.CrudHelper">
        <property name="dao" ref="couchDao"/>
        <property name="mapper" ref="vinMapper"/>
        <property name="allViewName" value="vin_exerpt"/>
    </bean>
    <bean id="domaineHelper" class="com.oxiane.caveavin.helper.CrudHelper">
        <property name="dao" ref="couchDao"/>
        <property name="mapper" ref="domaineMapper"/>
        <property name="allViewName" value="domaine_exerpt"/>
    </bean>
    <bean id="messageHelper" class="com.oxiane.caveavin.helper.CrudHelper">
        <property name="dao" ref="couchDao"/>
        <property name="mapper" ref="messageMapper"/>
        <property name="allViewName" value="message_exerpt"/>
    </bean>
    <!--### Crud helpers-->

    <!--Resources ###-->
    <bean id="domaineResource" class="com.oxiane.caveavin.rest.DomaineResource">
        <property name="crudHelper" ref="domaineHelper"/>
        <property name="dao" ref="couchDao"/>
    </bean>
    <bean id="vinResource" class="com.oxiane.caveavin.rest.VinResource">
        <property name="crudHelper" ref="vinHelper"/>
    </bean>
    <bean id="contactResource" class="com.oxiane.caveavin.rest.ContactResource">
        <property name="crudHelper" ref="messageHelper"/>
    </bean>
    <bean id="paramResource" class="com.oxiane.caveavin.rest.ParamResource">
        <property name="dao" ref="couchDao"/>
        <property name="regionMapper" ref="regionMapper"/>
        <property name="caracteristiqueVinMapper" ref="caracteristiqueVinMapper"/>
    </bean>
    <bean id="authenticationResource" class="com.oxiane.caveavin.rest.AuthenticationResource">
        <property name="authManager" ref="authenticationManager"/>
        <property name="userService" ref="userService"/>
    </bean>
    <!--### Resources-->


</beans>